@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 1.5;
}

.slider-container {
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
}

.slide img {
    max-width: 100%;
    max-height: 60%;
    margin-bottom: 30px;
}

.slide h2 {
    font-size: 2.0rem;
    margin-bottom: 0.5rem;
}

.slide h4 {
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-style: italic;
}

.btn {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    background-color: rgb(255, 0, 98);
    padding: 1rem 1.5rem;
    border-radius: 75px;
    text-transform: uppercase;
    transition: all .2s
}

.btn:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}
.btn:active {
box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
transform: scale(.98);
}

.grapping {
    cursor: grabbing;
}

.grapping .slide img {
    transform: scale(0.9);
}